
%heading-shared {/*Inherhit,Extend*/
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.heading2Xl {
    @extend %heading-shared;
    font-size: 2.5rem;
    line-height: 1.2;
  }
  
.headingXl {
    @extend %heading-shared;
    font-size: 2rem;
    line-height: 1.3;
  }
  
.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
.colorInherit {
    color: inherit;
  }
  
.padding1px {
    padding-top: 1px;
  }
  
.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.listItem {
    margin: 0 0 1.25rem;
  }
  
.lightText {
    color: #666;
  }

/*Simple responsive*/
.content img{
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
    /*For tablet*/
    .content img{
        height: 100%;
        width: 100%;
        content: url('https://www.linkpicture.com/q/download_146.jpg');
    }
}

@media (min-width: 768px) {
    /*For desktop*/
    .content img{
        height: 100%;
        width: 100%;
        content: url('https://www.linkpicture.com/q/images-1_13.jpg');
    }
}

.outerCircle {
  position: relative;
  height: 160px;
  width: 160px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
  z-index: 5;
}

.innerCircle {
  height: 144px;
  width: 144px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  z-index: 9;
}

.outer_circle {
  position: relative;
  height: 124px;
  width: 124px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
  z-index: 5;
}

.inner_circle {
  height: 108px;
  width: 108px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  z-index: 9;
}

.borderCircle {
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.gradient_border {
  --border-width: 5px;
  position: relative;
  width: auto;
  height: auto;
  background: #222;
  color: aliceblue;
  border-radius: var(--border-width);
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 5s infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}